# boring pdfs and stuff to ignore #
##########################
uml.pdf
plan.pdf
chess.pdf
project_guidelines.pdf


# Ignore files that are a result of compiling/linking #
#######################################################
src/*.o
src/*.d
*.swp
src/chess*

